<div id="contacts">
  <div class="title-center">
    <h2>კონტაქტი</h2>
  </div>
  <div class="wrapper flex-row wrapp-contacts">
    <div>
      <h3>
        <i class="fa-solid fa-location-dot"></i>
        ლოკაცია
      </h3>
      <p>C/ 24 Sesilia Takaishvili St, Tbilisi 0163.</p>
    </div>
    <div>
      <h3>
        <i class="fa-solid fa-phone-flip"></i>
        Phone
      </h3>
      <p><a class="phone">+995592666969</a></p>
    </div>
    <div>
      <h3>
        <i class="fa-solid fa-envelope"></i>
        Email
      </h3>
      <p>mrr.nodo&#64;gmail.com</p>
    </div>
    <div>
      <ul class="footer-social">
        <li>
          <a href="#" target="”_blank”">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="#" target="”_blank”">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="wrapp-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11914.267020208157!2d44.86798258002358!3d41.708287609793274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40446f9d508aef3b%3A0x9bbfbae99c5b448!2zU2hhdXJtYXggLSDhg6jhg5Dhg6Phg6Dhg5vhg5Dhg6Xhg6E!5e0!3m2!1sen!2sge!4v1719157526667!5m2!1sen!2sge"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <p class="copyright">
    Copyright © NM
    <a
      href="https://www.linkedin.com/in/nodari-mamukelashvili-3308041b1/"
      target="”_blank”"
      >ნოდარი მამუკელაშვილი</a
    >
  </p>
</div>
