<div class="wrapper flex-row">
  <div class="about-img">
    <img
      src="https://intranet.infoajara.com/storage/images/uNlTECtB8qeE3PtOVNLganTJTNKyQmI1kg4pLCSZ.jpg"
    />
    <a
      class="popup-youtube"
      href="https://www.youtube.com/watch?v=xiWU6HmpIU0"
      target="_blank"
    >
      <i class="fa-solid fa-play"></i>
    </a>
  </div>
  <div class="about-content">
    <h2>კარგი საკვები თქვენი კარგი განწყობისთვის</h2>
    <p>
      ჩვენი დაარსების დღიდან ჩვენ ვისწრაფვით კულინარიული სრულყოფილებისკენ.
      თითოეული კერძი, რომელსაც ჩვენ ვამზადებთ, ჩვენი მისწრაფების მაგალითია
      ტრადიციისა და ინოვაციების კომბინაციით, ჩვენ ვქმნით გამოცდილებას, რომელიც
      აღაგზნებს გრძნობებს.
    </p>
    <p>
      ყოველი გემრიელი ქმნილების უკან ვნებიანი გუნდი დგას. ჩვენი შეფი ლიდერობს
      გამოცდილებითა და შემოქმედებითობით, ხოლო ჩვენი პერსონალი ცდილობს
      უზრუნველყოს განსაკუთრებული მომსახურება. ჩვენ ერთად ვმუშაობთ რათა
      გადავაჭარბოთ მოლოდინს და გავხადოთ თითოეული ვიზიტი დაუვიწყარი.
    </p>
    <p>
      ჩვენი მისია მარტივია: სიხარულის მოტანა საკვებით. ჩვენ გვჯერა ხარისხიანი
      ინგრედიენტების, ოსტატური ტექნიკის და სტუმართმოყვარეობის შერწყმის. ჩვენ აქ
      ვართ იმისათვის, რომ შევქმნათ განსაკუთრებული მომენტები, ინტიმური ვახშმიდან
      დაწყებული დღესასწაულებით დამთავრებული. შემოგვიერთდით ამ კულინარიულ
      თავგადასავალში ჩვენ ვაგრძელებთ ჩვენი ისტორიის წერას.
    </p>
    <div class="advantage flex-row">
      <div>
        <img
          src="https://restfood.onlywebcoding.com.ua/images/advantage-1.png"
        />
        <p>გამოცდილი მზარეულები</p>
      </div>
      <div>
        <img
          src="https://restfood.onlywebcoding.com.ua/images/advantage-2.png"
        />
        <p>ორიგინალური რეცეპტები</p>
      </div>
      <div>
        <img
          src="https://restfood.onlywebcoding.com.ua/images/advantage-3.png"
        />
        <p>ახალი ინგრედიენტები</p>
      </div>
    </div>
  </div>
</div>
