<div class="container mt-5">
	<carousel
		#carousel
		[itemsPerSlide]="4"
		[singleSlideOffset]="true"
		[interval]="0"
		(mouseenter)="stopAutoplay()"
		(mouseleave)="startAutoplay()"
	>
		<slide *ngFor="let card of carouselItems">
			<div class="card">
				<img [src]="card.img" />
				<h3>{{ card.title }}</h3>
				<p>{{ card.description }}</p>
				<p class="price">{{ card.price }}</p>
			</div>
		</slide>
	</carousel>
	<div class="carousel-nav">
		<button (click)="slidePrev()">
			<i class="fas fa-long-arrow-alt-left"></i>
		</button>
		<button (click)="slideNext()">
			<i class="fas fa-long-arrow-alt-right"></i>
		</button>
	</div>
</div>
