<div class="wrapper flex-row wrapp-booking-form">
  <div class="booking-form">
    <form [formGroup]="reservationForm" (ngSubmit)="submitForm()">
      <div class="wrapp-input-group flex-row">
        <div>
          <p><label for="name">Name / სახელი</label></p>
          <input
            type="text"
            placeholder="Name / სახელი"
            id="name"
            formControlName="name"
            required
          />
          <div
            *ngIf="
              reservationForm.get('name')?.invalid &&
              (reservationForm.get('name')?.dirty ||
                reservationForm.get('name')?.touched)
            "
          >
            <small class="error">
              Name / სახელი აუცილებელია, მინიმუმ 2 ასო , შეიძლება შეიცავდეს
              ქართულ და ინგლისურ ასოებს
            </small>
          </div>
        </div>
        <div>
          <p><label for="lastname">Lastname / გვარი</label></p>
          <input
            type="text"
            placeholder="Lastname / გვარი"
            id="lastname"
            formControlName="lastname"
            required
          />
          <div
            *ngIf="
              reservationForm.get('lastname')?.invalid &&
              (reservationForm.get('lastname')?.dirty ||
                reservationForm.get('lastname')?.touched)
            "
          >
            <small class="error">
              Lastname / გვარი აუცილებელია, მინიმუმ 2 ასო , შეიძლება შეიცავდეს
              ქართულ და ინგლისურ ასოებს
            </small>
          </div>
        </div>
        <div>
          <p><label for="phone">Phone / ტელეფონი</label></p>
          <input
            type="tel"
            placeholder="Phone / ტელეფონი"
            id="phone"
            formControlName="phone"
            required
          />
          <div
            *ngIf="
              reservationForm.get('phone')?.invalid &&
              (reservationForm.get('phone')?.dirty ||
                reservationForm.get('phone')?.touched)
            "
          >
            <small class="error"
              >Phone / ტელეფონი აუცილებელია, შეიყვანეთ 9 ციფრი</small
            >
          </div>
        </div>
        <div>
          <p><label for="email">Email</label></p>
          <input
            type="email"
            placeholder="Email"
            id="email"
            formControlName="email"
            required
          />
          <div
            *ngIf="
              reservationForm.get('email')?.invalid &&
              (reservationForm.get('email')?.dirty ||
                reservationForm.get('email')?.touched)
            "
          >
            <small class="error">გთხოვთ შეიყვანეთ სწორი Email</small>
          </div>
        </div>
        <div>
          <p><label for="date">Date / თარიღი</label></p>
          <input
            type="date"
            placeholder="DD-MM-YYYY"
            id="date"
            formControlName="date"
            required
          />
          <div
            *ngIf="
              reservationForm.get('date')?.invalid &&
              (reservationForm.get('date')?.dirty ||
                reservationForm.get('date')?.touched)
            "
          >
            <small class="error">გთხოვთ შეიყვანეთ სწორი თარიღი</small>
          </div>
        </div>
        <div>
          <p><label for="time">Time / საათი</label></p>
          <input
            type="time"
            placeholder="12:00"
            id="time"
            formControlName="time"
            required
          />
          <div
            *ngIf="
              reservationForm.get('time')?.invalid &&
              (reservationForm.get('time')?.dirty ||
                reservationForm.get('time')?.touched)
            "
          >
            <small class="error"
              >გთხოვთ შეიყვანეთ სწორი საათი(HH:mm ფორმატით)</small
            >
          </div>
        </div>
        <button type="submit" id="send" class="btn">დადასტურება</button>
      </div>
      <p
        class="result mt-2"
        [style.display]="displayResultMessage ? 'block' : 'none'"
      >
        <span
          style="color: antiquewhite"
          [ngClass]="{
            error: resultMessage === 'გთხოვთ ყველა ველი სწორად შეავსოთ.',
            send:
              resultMessage ===
              'მადლობა შეკვეთისთვის , ჩვენ მალე დაგიკავშრდებით.'
          }"
        >
          {{ resultMessage }}
        </span>
      </p>
    </form>
  </div>
  <div class="working-hours">
    <h3>სამუშაო საათები</h3>
    <p>
      გვეწვიეთ ჩვენს მყუდრო სივრცეში. განიცადეთ ჩვენი კულინარიული ვნება და
      უნიკალური ატმოსფერო. ჩვენ მოუთმენლად ველით თქვენთან შეხვედრას!
    </p>
    <div class="flex-row table-hours">
      <p>ორშაბათი - პარასკევი</p>
      <p>8:00 - 18:00</p>
    </div>
    <div class="flex-row table-hours">
      <p>შაბათი</p>
      <p>9:00 - 17:00</p>
    </div>
    <div class="flex-row table-hours">
      <p>კვირა</p>
      <p>9:00 - 16:00</p>
    </div>
  </div>
</div>
