<div class="title-center">
  <h2>Ჩვენი გუნდი</h2>
  <p>
    ჩვენი ნიჭიერი გუნდი აერთიანებს ვნებას და გამოცდილებას. მოგონებების
    შესაქმნელად განსაკუთრებულად საჭიროა კულინარია. შეხვდით ოსტატებს თითოეული
    კერძის უკან.
  </p>
</div>
<div class="wrapper flex-row" id="chefs">
  <div class="chefs-item">
    <img
      src="https://cdn7.dissolve.com/p/D2115_193_029/D2115_193_029_1200.jpg"
    />
    <div class="about-chefs">
      <h3>გელა მაჭავარიანი</h3>
      <p>მზარეული</p>
      <ul class="chef-social">
        <li>
          <a href="#chefs" target="”_blank”"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a href="#chefs" target="”_blank”"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="chefs-item">
    <img
      src="https://previews.123rf.com/images/stockyimages/stockyimages1206/stockyimages120600981/14200288-an-isolated-shot-of-a-beautiful-woman-chef-standing-in-kitchen.jpg"
    />
    <div class="about-chefs">
      <h3>თამარ გვერდწითელი</h3>
      <p>მზარეული</p>
      <ul class="chef-social">
        <li>
          <a href="#chefs" target="”_blank”"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a href="#chefs" target="”_blank”"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="chefs-item">
    <img src="https://s3.envato.com/files/283441355/DSC_6812.JPG" />
    <div class="about-chefs">
      <h3>ნია ბარათელი</h3>
      <p>მიმტანი</p>
      <ul class="chef-social">
        <li>
          <a href="#chefs" target="”_blank”"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a href="#chefs" target="”_blank”"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="chefs-item">
    <img
      src="https://thumbs.dreamstime.com/b/handsome-cute-waiter-lays-table-cafe-indoors-caucasian-young-busy-worker-carrying-dishes-indoors-favorite-job-concept-170486420.jpg"
    />
    <div class="about-chefs">
      <h3>ვაჟა ბრეგვაძე</h3>
      <p>მიმტანი</p>
      <ul class="chef-social">
        <li>
          <a href="#chefs" target="”_blank”"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
        </li>
        <li>
          <a href="#chefs" target="”_blank”"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
